<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <link href="lib/bxslider/jquery.bxslider.css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- bxSlider Javascript file -->
        <script src="js/jquery.bxslider.min.js"></script>
        <!-- bxSlider CSS file -->
        <link href="lib/bxslider/jquery.bxslider.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Infant" rel="stylesheet">
    </head>
    <body>
      <div class="content">
        <nav class="<% if (url !== '/') { %>inverse<% } %>">
          <ul class="main-menu">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Видео</a></li>
            <li><a href="#">Расписание</a></li>
            <li><a href="/contactus">Контакты</a></li>
          </ul>
        </nav>
        <div class=logo>Studio Perfection</div>
        <ul class="bxslider">
          <li><img src="img/pic4.jpg" /></li>
          <li><img src="img/pic6.jpg" /></li>
          <li><img src="img/pic7.jpg" /></li>
          <li><img src="img/pic8.jpg" /></li>
          <li><img src="img/pic1.jpg" /></li>
          <li><img src="img/pic2.jpg" /></li>
          <li><img src="img/pic3.jpg" /></li>
          <li><img src="img/pic5.jpg" /></li>
        </ul>
        <div class='text'>
          <div class='main_text'>
            <h2>Классическая хореография для детей от 3 лет с элементами гимнастики и акробатики.
            </h2>
          </div>
          <article class='yel'>
            Хореография – это правильная осанка и равномерное развитие всех мышц, а так же
            первый шаг на пути к совершенству.
            Грациозность, пластичность, воздушность являются синонимами хореографии.
          </article>
          <article class='green'>
          Занятия хореографией обобщают различные танцевальные стили.
          Включают в себя азы танца: растяжку, укрепление мышц,
          постановку осанки, развитие пластичности, координации, артистичности,
          чувству ритма и равномерному развитию всех мышц.
          </article>
          <article class='blue'>
            Занятия хореографией в танцевальной студии «Perfection» рассчитаны на ребенка от трех
             лет. Количество человек в группах ограничено. Занятия строятся с учетом индивидуальных
             особенностей каждого ребенка и его физических способнойсей.
          </article>

          <article class='pink'>
           Независимо от настроения ребёнка, занятия в школе строятся таким образом, чтобы ему не
           только становилось интересно и весело, но и так, чтобы ребенок шаг за шагом,
           начиная с самых основ, обучался самому лучшему из современной хореографии 
          </article>
          <article class='orange'>
          Набор в группы в "Studio Perfection" проходит круглый год, и в каком бы месяце не начал
          заниматься Ваш ребёнок, он всегда будет чувствовать себя комфортно и быстро вольется в ритм танцевальной жизни.

          </article>
          <article class='red'>
           Предварительная запись по телефону +38(063)139-57-54. С расписанием занятий
           вы можете ознакомиться на сайте.
          </article>
        </div>
      </div>
      <footer>
      <div class="wrapper">
        <div style="display: flex;">
          <div><span class='logo'>Studio Perfection</span></div>
          <div  style=" font: 19px 'Cormorant Infant', serif;">
            <p>Гагаринское плато 5а, корпус 1.
              <br/>
              Тел. +38(063)139-57-54
            </p>
          </div>
        </div>
      </div>
  </footer>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="lib/bxslider/jquery.bxslider.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
